{%extends 'layout.html'%}
{% load comments %}
{% load likes_inclusion_tags %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 justify-content-center">
			<ul id="myUL" class="list-unstyled">
				{% for post in posts %}
				<li class="filterDiv {{image.category}}"><di href="#"><span class="post-user">{{post.user}}</span>
					<div class="card rounded my-4">
						<div class="card-title m-0">
							<div class="user-head" href="{% url 'aboutuser' user_id=post.user.id %}">
								<button class="btn mx-3 bg-transparent btn-lg" data-toggle="tooltip" data-placement="bottom"
								        title="User">
									<img src="{{ user.profile.image.url }}" class="rounded-circle border" width="35" height="35"></button>
								<span class="username">{{post.user}}</span></div>
						</div>
						<img src="{{ post.image.url }}" class="img-fluid" alt="..." height="100%" width="100%">
						<div class="card-body">
							<div class="">
								<button class="btn bg-transparent image-icons toggle-like"><i class="far fa-heart no-color"></i>
								</button>
								<button class="btn bg-transparent image-icons btn-form"><i class="far fa-comment-alt"></i></button>
								{% likes post %}
							</div>
							<div class="hidden-form">
								<hr class="mt-3">
								{% render_comment_form for post %}
								<hr class="mb-3">
							</div>
							<div class="ml-3">
								likes
							</div>
							{% autoescape on %}
							<div class="row ml-3"><span class="font-weight-bold mr-2">{{post.user}}</span>{{post.caption| safe}}</div>
							{% endautoescape %}
							<div class="text-muted">
								<p>Posted {{post.post_date|timesince}} ago ({{post.post_date}})</p>
							</div>
						</div>
						<div class="container ml-2">
							{% get_comment_count for post as comment_count %}
							<p>{{ comment_count }} comments.
								<button class="btn btn-md btn-info mx-5 btn-view">VIEW</button>
							</p>
							<div class="hidden-comments">
								{% render_comment_list for post %}
							</div>
						</div>
					</div>

					<div class="row">

					</div>
					<div>

					</div>

				</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-4">

		</div>
	</div>
</div>
{% endblock %}